*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}
.card{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 3px #bbbbbb;
}
.back_arrow{
    font-size: 60px;
    color: rgb(31, 31, 31);
}
@media (min-width: 768px){
    .card{
        width: 25%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .bg-txt{
        font-size: 300px;
        font-weight: 700;
        font-family: 'Roboto';
        color: #b9b9b9;
        text-shadow: 10px 10px 30px rgb(155, 155, 155);
    }
    .back_arrow{
        display: none;
    }
    
}